<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2014, Rizwan Choudrey - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~ Author: Rizwan Choudrey
  ~ Date: 30 October, 2014
  -->

<manifest package="com.chdryra.android.myandroidwidgets.test"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.chdryra.android.myandroidwidgets.test.MyAndroidWidgetsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
