[submodule "CoreLibrary"]
	path = CoreLibrary
	url = git@github.com:chdryra/CoreLibrary.git
	branch = master

[submodule "Reviewer"]
	path = Reviewer
	url = git@github.com:chdryra/Reviewer.git
	branch = master

[submodule "TestingUtils"]
	path = TestUtils
	url = git@github.com:chdryra/TestUtils.git
	branch = master

