[submodule "MyAndroidWidgets"]
	path = MyAndroidWidgets
	url = git@github.com/chdryra/MyAndroidWidgets.git
[submodule "MyGeneralLibrary"]
	path = MyGeneralLibrary
	url = git@github.com/chdryra/MyGeneralLibrary.git
[submodule "RemoteAPIFetchers"]
	path = RemoteAPIFetchers
	url = git@github.com/chdryra/RemoteAPIFetchers.git
[submodule "Reviewer"]
	path = Reviewer
	url = git@github.com/chdryra/Reviewer.git
[submodule "TestUtils"]
	path = TestUtils
	url = git@github.com:chdryra/TestUtils.git
