[submodule "MyAndroidWidgets"]
	path = MyAndroidWidgets
	url = git@github.com:chdryra/MyAndroidWidgets.git
	branch = master

[submodule "MyGeneralLibrary"]
	path = MyGeneralLibrary
	url = git@github.com:chdryra/MyGeneralLibrary.git
	branch = master

[submodule "RemoteAPIFetchers"]
	path = RemoteAPIFetchers
	url = git@github.com:chdryra/RemoteAPIFetchers.git
	branch = master

[submodule "Reviewer"]
	path = Reviewer
	url = git@github.com:chdryra/Reviewer.git
	branch = master

[submodule "TestingUtils"]
	path = TestUtils
	url = git@github.com:chdryra/TestUtils.git
	branch = master

